* {
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
}

.nav-container {
    background-color: black;
    color: white;
    font-size: 3rem;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container ul {
    display: flex;
    padding: .25rem;
}

.nav-container a {
    padding: .5rem;
    color: white;
}